# macOS
.DS_Store

# Svelte
node_modules
.svelte
build
dist
yarn-error.log
yarn-error.log
yarn.lock

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# VSCode
.vscode

# Poetry
poetry.lock

# Project
.cache
.env
.pytest_cache

# SQLite
database.db
